
// Top section display animation
@keyframes titleFadeIn{
    0% {
        opacity: 0;
        transform: translateX(2rem);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}

@keyframes titleFadeInMobile{
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
      }
}

@keyframes navFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


// top section hamburger overlay animation
@keyframes overlayFadeIn{
    0%{
        visibility: visible;
        opacity: 0%;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes overlayFadeOut{
    0%{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes hamburgerBtnTopOpen{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(-7px) rotate(0deg);
    }
    100%{
        transform: translateY(-7px) rotate(45deg);
    }
}

@keyframes hamburgerBtnBotOpen{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform: translateY(7px) rotate(0deg);
    }
    100%{
        transform: translateY(7px) rotate(-45deg);
    }
}

@keyframes hamburgerBtnTopClose{
    0%{
        
        transform: translateY(-7px) rotate(45deg);
    }
    50%{
        transform: translateY(-7px) rotate(0deg);
    }
    100%{
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes hamburgerBtnBotClose{
    0%{
        
        transform: translateY(7px) rotate(-45deg);
    }
    50%{
        transform: translateY(7px) rotate(0deg);
    }
    100%{
        transform: translateY(0) rotate(0deg);
    }
}

// center section

@keyframes centerFadeIn{
    0%{
        transform: translateX(-30%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes innerBoxSlideIn{
    0%{
        opacity: 0;
        transform: translateX(30%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


// gallery section

@keyframes galleryItemSlideIn{
    0%{
        opacity: 0;
        transform: translateY(-30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}