

.top_section{
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 64px;
    height: 650px;
    color: $White;
    background-image: url(../../images/desktop/image-herocopy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint-down(medium){
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        height: 100vh;
        background-image: url(../../images/mobile/image-herocopy.jpg);
    }

    header{
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 130px;
        opacity: 0;
        animation: navFadeIn 600ms;
        animation-fill-mode: forwards;
        animation-delay: 1200ms;
        position: relative;
        z-index: 3;
        nav{
            a{
                color: $White;
                font-family: 'Alata', sans-serif;
                font-size: 15px;
                text-decoration: none;
                margin-left: 32px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 3px;
                    bottom: -3px;
                    left: 0;
                    border-radius: 2px;
                    background-color: $White;
                    transition: width 250ms linear;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .hamburgerBtn{
        &:hover{
            cursor: pointer;
        }
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $White;
            
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        span:nth-child(1){
            animation: hamburgerBtnBotClose 400ms linear;
            animation-fill-mode: forwards;
        }
        span:nth-child(2){
            opacity: 1;
            transition: opacity 400ms linear;
        }
        span:nth-child(3){
            animation: hamburgerBtnTopClose 400ms linear;
            animation-fill-mode: forwards;
        }
    }
    .hamburgerBtn.open{
        span:nth-child(1){
            animation: hamburgerBtnBotOpen 400ms linear;
            animation-fill-mode: forwards;
        }
        span:nth-child(2){
            opacity: 0;
        }
        span:nth-child(3){
            animation: hamburgerBtnTopOpen 400ms linear;
            animation-fill-mode: forwards;
        }
        
    }
    .moto{
        width: 650px;
        height: 278px;
        padding: 40px;
        border: solid 3px $White;
        opacity: 0;
        animation: titleFadeIn 600ms;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
        @include breakpoint-down(medium){
            
            position: absolute;
            animation: titleFadeInMobile 600ms;
            animation-delay: 600ms;
            animation-fill-mode: forwards;
            top: 50vh;
            left: 50vw;
            transform: translateX(-50%) translateY(-50%);
        }
        @include breakpoint-down(small){
            height: auto;
            width: 85%;
            padding: 26px;
        }
        h1{
            text-transform: uppercase;
            font-size: 72px;
            font-weight: 400;
            line-height: 70px;
            @include breakpoint-down(small){
                font-size: 40px;
                line-height: 38px;
            }
        }
    }
    .overlay{
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        opacity: 0;
        visibility: hidden;

        .hamburgerMenu{
            position: absolute;
            z-index: 4;
            display: flex;
            flex-direction: column;
            top: 223px;
            left: 40px;
            a{
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 24px;
                margin-bottom: 24px;
            }
        }
    }
}
.open{
    visibility: visible;
    opacity: 1;
    animation: overlayFadeIn 300ms linear;
    animation-fill-mode: forwards;
    
}

.close{
    visibility: visible;
    opacity: 1;
    animation: overlayFadeOut 300ms linear;
    animation-fill-mode: forwards;
}

