.top_section {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 64px;
  height: 650px;
  color: white;
  background-image: url(/images/desktop/image-herocopy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 64rem) {
  .top_section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    height: 100vh;
    background-image: url(/images/mobile/image-herocopy.jpg);
  }
}

.top_section header {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  opacity: 0;
  -webkit-animation: navFadeIn 600ms;
          animation: navFadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  position: relative;
  z-index: 3;
}

.top_section header nav a {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-left: 32px;
  position: relative;
}

.top_section header nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 0;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: width 250ms linear;
  transition: width 250ms linear;
}

.top_section header nav a:hover::after {
  width: 100%;
}

.top_section .hamburgerBtn:hover {
  cursor: pointer;
}

.top_section .hamburgerBtn > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
}

.top_section .hamburgerBtn > span:not(:last-child) {
  margin-bottom: 5px;
}

.top_section .hamburgerBtn span:nth-child(1) {
  -webkit-animation: hamburgerBtnBotClose 400ms linear;
          animation: hamburgerBtnBotClose 400ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top_section .hamburgerBtn span:nth-child(2) {
  opacity: 1;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.top_section .hamburgerBtn span:nth-child(3) {
  -webkit-animation: hamburgerBtnTopClose 400ms linear;
          animation: hamburgerBtnTopClose 400ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top_section .hamburgerBtn.open span:nth-child(1) {
  -webkit-animation: hamburgerBtnBotOpen 400ms linear;
          animation: hamburgerBtnBotOpen 400ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top_section .hamburgerBtn.open span:nth-child(2) {
  opacity: 0;
}

.top_section .hamburgerBtn.open span:nth-child(3) {
  -webkit-animation: hamburgerBtnTopOpen 400ms linear;
          animation: hamburgerBtnTopOpen 400ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.top_section .moto {
  width: 650px;
  height: 278px;
  padding: 40px;
  border: solid 3px white;
  opacity: 0;
  -webkit-animation: titleFadeIn 600ms;
          animation: titleFadeIn 600ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 64rem) {
  .top_section .moto {
    position: absolute;
    -webkit-animation: titleFadeInMobile 600ms;
            animation: titleFadeInMobile 600ms;
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-width: 43.125em) {
  .top_section .moto {
    height: 196px;
    width: 327px;
    padding: 26px;
  }
}

.top_section .moto h1 {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 400;
  line-height: 70px;
}

@media (max-width: 43.125em) {
  .top_section .moto h1 {
    font-size: 40px;
    line-height: 38px;
  }
}

.top_section .overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.top_section .overlay .hamburgerMenu {
  position: absolute;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 223px;
  left: 40px;
}

.top_section .overlay .hamburgerMenu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 24px;
}

.open {
  visibility: visible;
  opacity: 1;
  -webkit-animation: overlayFadeIn 300ms linear;
          animation: overlayFadeIn 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.close {
  visibility: visible;
  opacity: 1;
  -webkit-animation: overlayFadeOut 300ms linear;
          animation: overlayFadeOut 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes titleFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes titleFadeInMobile {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes titleFadeInMobile {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes navFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes overlayFadeIn {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes overlayFadeIn {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes overlayFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes overlayFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@-webkit-keyframes hamburgerBtnTopOpen {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@keyframes hamburgerBtnTopOpen {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
}

@-webkit-keyframes hamburgerBtnBotOpen {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0deg);
            transform: translateY(7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(-45deg);
            transform: translateY(7px) rotate(-45deg);
  }
}

@keyframes hamburgerBtnBotOpen {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0deg);
            transform: translateY(7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(-45deg);
            transform: translateY(7px) rotate(-45deg);
  }
}

@-webkit-keyframes hamburgerBtnTopClose {
  0% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@keyframes hamburgerBtnTopClose {
  0% {
    -webkit-transform: translateY(-7px) rotate(45deg);
            transform: translateY(-7px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0deg);
            transform: translateY(-7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes hamburgerBtnBotClose {
  0% {
    -webkit-transform: translateY(7px) rotate(-45deg);
            transform: translateY(7px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0deg);
            transform: translateY(7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@keyframes hamburgerBtnBotClose {
  0% {
    -webkit-transform: translateY(7px) rotate(-45deg);
            transform: translateY(7px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(7px) rotate(0deg);
            transform: translateY(7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes centerFadeIn {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes centerFadeIn {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes innerBoxSlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes innerBoxSlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes galleryItemSlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes galleryItemSlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.center_section {
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 184px;
  height: 500px;
  width: 80%;
  max-width: 1111px;
  background-image: url(../../images/desktop.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  position: relative;
  opacity: 0;
}

@media (max-width: 64rem) {
  .center_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
    background-position: top;
    padding-top: 55vw;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.center_section .inner_box {
  background-color: white;
  height: 317px;
  width: 541px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 96px;
  padding-left: 96px;
  opacity: 0;
}

@media (max-width: 64rem) {
  .center_section .inner_box {
    height: auto;
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
  }
}

.center_section .inner_box h2 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
}

@media (max-width: 43.125em) {
  .center_section .inner_box h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.center_section .inner_box p {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  opacity: 0.5;
}

.center_section_in_view {
  -webkit-animation: centerFadeIn 500ms ease-in-out;
          animation: centerFadeIn 500ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.inner_box_in_view {
  -webkit-animation: innerBoxSlideIn 500ms ease-in-out;
          animation: innerBoxSlideIn 500ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.gallery {
  width: 80%;
  max-width: 1111px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 184px;
}

.gallery_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.gallery_header h2 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

.gallery_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(25% - 15px))[4];
      grid-template-columns: repeat(4, calc(25% - 15px));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 900px;
  gap: 20px;
}

@media (max-width: 64rem) {
  .gallery_grid {
    -ms-grid-columns: (calc(50% - 10px))[2];
        grid-template-columns: repeat(2, calc(50% - 10px));
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 43.125em) {
  .gallery_grid {
    height: 1100px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
}

.gallery_grid .grid_item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
}

@media (max-width: 64rem) {
  .gallery_grid .grid_item {
    opacity: 1;
  }
}

.gallery_grid .grid_item:nth-child(1) {
  background-image: url(../../images/desktop/image-deep-earth.jpg);
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.gallery_grid .grid_item:nth-child(2) {
  background-image: url(../../images/desktop/image-night-arcade.jpg);
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.gallery_grid .grid_item:nth-child(3) {
  background-image: url(../../images/desktop/image-soccer-team.jpg);
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.gallery_grid .grid_item:nth-child(4) {
  background-image: url(../../images//desktop/image-grid.jpg);
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.gallery_grid .grid_item:nth-child(5) {
  background-image: url(../../images/desktop/image-from-above.jpg);
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.gallery_grid .grid_item:nth-child(6) {
  background-image: url(../../images/desktop/image-pocket-borealis.jpg);
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.gallery_grid .grid_item:nth-child(7) {
  background-image: url(../../images/desktop/image-curiosity.jpg);
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.gallery_grid .grid_item:nth-child(8) {
  background-image: url(../../images/desktop/image-fisheye.jpg);
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.gallery_grid .grid_item .grid_overlay {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-transform: uppercase;
  color: white;
  font-size: 32px;
  line-height: 32px;
  padding: 32px 40px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.gallery_grid .grid_item .grid_overlay:hover {
  background: rgba(255, 255, 255, 0.75071);
  cursor: pointer;
}

.gallery button {
  height: 40px;
  width: 157px;
  text-transform: uppercase;
  background-color: white;
  border: solid 2px black;
  font-size: 14px;
  font-family: 'Alata', sans-serif;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.gallery button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.gallery .hideForDesktop {
  margin: 34px auto;
}

.itemSlideIn {
  -webkit-animation: galleryItemSlideIn 300ms ease-in-out;
          animation: galleryItemSlideIn 300ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 64rem) {
  .itemSlideIn {
    -webkit-animation: none;
            animation: none;
  }
}

footer {
  background-color: black;
  padding: 43px 0;
  color: white;
}

footer .footer {
  margin: 0 auto;
  width: 80%;
  max-width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 83px;
}

@media (max-width: 43.125em) {
  footer .footer {
    height: 470px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

footer .footer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 43.125em) {
  footer .footer_left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 43.125em) {
  footer .footer_left_logo {
    margin-bottom: 32px;
  }
}

@media (max-width: 43.125em) {
  footer .footer_left nav {
    margin-bottom: 48px;
  }
}

footer .footer_left nav a {
  color: white;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Alata', sans-serif;
  text-decoration: none;
  margin-right: 32px;
  position: relative;
}

@media (max-width: 43.125em) {
  footer .footer_left nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 0;
  }
}

footer .footer_left nav a::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 3px;
  background-color: white;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  scale: 0;
  -webkit-transition: scale 200ms ease-in-out;
  transition: scale 200ms ease-in-out;
}

footer .footer_left nav a:hover::after {
  scale: 1;
}

footer .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 43.125em) {
  footer .footer_right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer_right .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 43.125em) {
  footer .footer_right .logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 26px;
  }
}

footer .footer_right .logos_icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media (max-width: 43.125em) {
  footer .footer_right .logos_icon {
    margin-left: 12px;
    margin-right: 12px;
  }
}

footer .footer_right .logos_icon:nth-child(1) {
  background-image: url(../../images/icon-facebook.svg);
}

footer .footer_right .logos_icon:nth-child(2) {
  background-image: url(../../images/icon-twitter.svg);
}

footer .footer_right .logos_icon:nth-child(3) {
  background-image: url(../../images/icon-pinterest.svg);
}

footer .footer_right .logos_icon:nth-child(4) {
  background-image: url(../../images/icon-instagram.svg);
}

footer .footer_right .logos_icon:hover {
  cursor: pointer;
}

footer .footer_right .logos_icon:hover::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: white;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.attribution {
  background-color: black;
  color: white;
}

.attribution a {
  color: #8c8c8c;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

.hideForDesktop {
  display: none;
}

@media (max-width: 64rem) {
  .hideForDesktop {
    display: block;
  }
}

.hideForMobile {
  display: block;
}

@media (max-width: 64rem) {
  .hideForMobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */