.top_section {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 64px;
  height: 650px;
  color: white;
  background-image: url(/images/desktop/image-herocopy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 64rem) {
  .top_section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    height: 100vh;
    background-image: url(/images/mobile/image-herocopy.jpg);
  }
}

.top_section header {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  opacity: 0;
  -webkit-animation: navFadeIn 600ms;
          animation: navFadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  position: relative;
  z-index: 3;
}

.top_section header nav a {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-left: 32px;
  position: relative;
}

.top_section header nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 0;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: width 250ms linear;
  transition: width 250ms linear;
}

.top_section header nav a:hover::after {
  width: 100%;
}

.top_section .hamburgerBtn:hover {
  cursor: pointer;
}

.top_section .hamburgerBtn > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.top_section .hamburgerBtn > span:not(:last-child) {
  margin-bottom: 5px;
}

.top_section .moto {
  width: 650px;
  height: 278px;
  padding: 40px;
  border: solid 3px white;
  opacity: 0;
  -webkit-animation: titleFadeIn 600ms;
          animation: titleFadeIn 600ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 64rem) {
  .top_section .moto {
    position: absolute;
    -webkit-animation: titleFadeInMobile 600ms;
            animation: titleFadeInMobile 600ms;
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

.top_section .moto h1 {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 400;
  line-height: 70px;
}

.top_section .overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.top_section .overlay .hamburgerMenu {
  position: absolute;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 223px;
  left: 40px;
}

.top_section .overlay .hamburgerMenu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 24px;
}

.open {
  visibility: visible;
  opacity: 1;
  -webkit-animation: overlayFadeIn 300ms linear;
          animation: overlayFadeIn 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.close {
  visibility: visible;
  opacity: 1;
  -webkit-animation: overlayFadeOut 300ms linear;
          animation: overlayFadeOut 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes titleFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes titleFadeInMobile {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes titleFadeInMobile {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes navFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes overlayFadeIn {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes overlayFadeIn {
  0% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes overlayFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes overlayFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

.hideForDesktop {
  display: none;
}

@media (max-width: 64rem) {
  .hideForDesktop {
    display: block;
  }
}

.hideForMobile {
  display: block;
}

@media (max-width: 64rem) {
  .hideForMobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */